--
-- PostgreSQL database dump
--

\restrict 3cXBlESTsce1TzzBbQMYQBUxCSzXa6UIxAys4IWC2dsr5NhmtL2htU4nXjtkh3W

-- Dumped from database version 17.9 (Debian 17.9-1.pgdg13+1)
-- Dumped by pg_dump version 17.9 (Debian 17.9-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: agricultor; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA agricultor;


ALTER SCHEMA agricultor OWNER TO postgres;

--
-- Name: beneficio; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA beneficio;


ALTER SCHEMA beneficio OWNER TO postgres;

--
-- Name: pesocabal; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA pesocabal;


ALTER SCHEMA pesocabal OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agricultor; Type: TABLE; Schema: agricultor; Owner: postgres
--

CREATE TABLE agricultor.agricultor (
    id_agricultor bigint NOT NULL,
    direccion character varying(255),
    fecha_creacion timestamp(6) without time zone,
    nit character varying(255) NOT NULL,
    nombre character varying(255) NOT NULL,
    telefono character varying(255)
);


ALTER TABLE agricultor.agricultor OWNER TO postgres;

--
-- Name: agricultor_id_agricultor_seq; Type: SEQUENCE; Schema: agricultor; Owner: postgres
--

CREATE SEQUENCE agricultor.agricultor_id_agricultor_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE agricultor.agricultor_id_agricultor_seq OWNER TO postgres;

--
-- Name: agricultor_id_agricultor_seq; Type: SEQUENCE OWNED BY; Schema: agricultor; Owner: postgres
--

ALTER SEQUENCE agricultor.agricultor_id_agricultor_seq OWNED BY agricultor.agricultor.id_agricultor;


--
-- Name: catalogo; Type: TABLE; Schema: agricultor; Owner: postgres
--

CREATE TABLE agricultor.catalogo (
    id_catalogo bigint NOT NULL,
    descripcion character varying(255),
    nombre_catalogo character varying(255) NOT NULL
);


ALTER TABLE agricultor.catalogo OWNER TO postgres;

--
-- Name: catalogo_id_catalogo_seq; Type: SEQUENCE; Schema: agricultor; Owner: postgres
--

CREATE SEQUENCE agricultor.catalogo_id_catalogo_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE agricultor.catalogo_id_catalogo_seq OWNER TO postgres;

--
-- Name: catalogo_id_catalogo_seq; Type: SEQUENCE OWNED BY; Schema: agricultor; Owner: postgres
--

ALTER SEQUENCE agricultor.catalogo_id_catalogo_seq OWNED BY agricultor.catalogo.id_catalogo;


--
-- Name: color; Type: TABLE; Schema: agricultor; Owner: postgres
--

CREATE TABLE agricultor.color (
    id_catalogo bigint NOT NULL,
    id_catalogo_publico integer,
    nombre character varying(255)
);


ALTER TABLE agricultor.color OWNER TO postgres;

--
-- Name: color_id_catalogo_seq; Type: SEQUENCE; Schema: agricultor; Owner: postgres
--

CREATE SEQUENCE agricultor.color_id_catalogo_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE agricultor.color_id_catalogo_seq OWNER TO postgres;

--
-- Name: color_id_catalogo_seq; Type: SEQUENCE OWNED BY; Schema: agricultor; Owner: postgres
--

ALTER SEQUENCE agricultor.color_id_catalogo_seq OWNED BY agricultor.color.id_catalogo;


--
-- Name: detalle_catalogo; Type: TABLE; Schema: agricultor; Owner: postgres
--

CREATE TABLE agricultor.detalle_catalogo (
    id_detalle_catalogo bigint NOT NULL,
    codigo character varying(255),
    factor_conversion double precision,
    orden integer,
    valor character varying(255),
    id_catalogo bigint NOT NULL
);


ALTER TABLE agricultor.detalle_catalogo OWNER TO postgres;

--
-- Name: detalle_catalogo_id_detalle_catalogo_seq; Type: SEQUENCE; Schema: agricultor; Owner: postgres
--

CREATE SEQUENCE agricultor.detalle_catalogo_id_detalle_catalogo_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE agricultor.detalle_catalogo_id_detalle_catalogo_seq OWNER TO postgres;

--
-- Name: detalle_catalogo_id_detalle_catalogo_seq; Type: SEQUENCE OWNED BY; Schema: agricultor; Owner: postgres
--

ALTER SEQUENCE agricultor.detalle_catalogo_id_detalle_catalogo_seq OWNED BY agricultor.detalle_catalogo.id_detalle_catalogo;


--
-- Name: licencia; Type: TABLE; Schema: agricultor; Owner: postgres
--

CREATE TABLE agricultor.licencia (
    id_catalogo bigint NOT NULL,
    id_catalogo_publico integer,
    nombre character varying(255)
);


ALTER TABLE agricultor.licencia OWNER TO postgres;

--
-- Name: licencia_id_catalogo_seq; Type: SEQUENCE; Schema: agricultor; Owner: postgres
--

CREATE SEQUENCE agricultor.licencia_id_catalogo_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE agricultor.licencia_id_catalogo_seq OWNER TO postgres;

--
-- Name: licencia_id_catalogo_seq; Type: SEQUENCE OWNED BY; Schema: agricultor; Owner: postgres
--

ALTER SEQUENCE agricultor.licencia_id_catalogo_seq OWNED BY agricultor.licencia.id_catalogo;


--
-- Name: linea; Type: TABLE; Schema: agricultor; Owner: postgres
--

CREATE TABLE agricultor.linea (
    id_catalogo bigint NOT NULL,
    id_catalogo_publico integer,
    nombre character varying(255)
);


ALTER TABLE agricultor.linea OWNER TO postgres;

--
-- Name: linea_id_catalogo_seq; Type: SEQUENCE; Schema: agricultor; Owner: postgres
--

CREATE SEQUENCE agricultor.linea_id_catalogo_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE agricultor.linea_id_catalogo_seq OWNER TO postgres;

--
-- Name: linea_id_catalogo_seq; Type: SEQUENCE OWNED BY; Schema: agricultor; Owner: postgres
--

ALTER SEQUENCE agricultor.linea_id_catalogo_seq OWNED BY agricultor.linea.id_catalogo;


--
-- Name: marca; Type: TABLE; Schema: agricultor; Owner: postgres
--

CREATE TABLE agricultor.marca (
    id_catalogo bigint NOT NULL,
    id_catalogo_publico integer,
    nombre character varying(255)
);


ALTER TABLE agricultor.marca OWNER TO postgres;

--
-- Name: marca_id_catalogo_seq; Type: SEQUENCE; Schema: agricultor; Owner: postgres
--

CREATE SEQUENCE agricultor.marca_id_catalogo_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE agricultor.marca_id_catalogo_seq OWNER TO postgres;

--
-- Name: marca_id_catalogo_seq; Type: SEQUENCE OWNED BY; Schema: agricultor; Owner: postgres
--

ALTER SEQUENCE agricultor.marca_id_catalogo_seq OWNED BY agricultor.marca.id_catalogo;


--
-- Name: modelo; Type: TABLE; Schema: agricultor; Owner: postgres
--

CREATE TABLE agricultor.modelo (
    id_catalogo bigint NOT NULL,
    id_catalogo_publico integer,
    nombre character varying(255)
);


ALTER TABLE agricultor.modelo OWNER TO postgres;

--
-- Name: modelo_id_catalogo_seq; Type: SEQUENCE; Schema: agricultor; Owner: postgres
--

CREATE SEQUENCE agricultor.modelo_id_catalogo_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE agricultor.modelo_id_catalogo_seq OWNER TO postgres;

--
-- Name: modelo_id_catalogo_seq; Type: SEQUENCE OWNED BY; Schema: agricultor; Owner: postgres
--

ALTER SEQUENCE agricultor.modelo_id_catalogo_seq OWNED BY agricultor.modelo.id_catalogo;


--
-- Name: parcialidad; Type: TABLE; Schema: agricultor; Owner: postgres
--

CREATE TABLE agricultor.parcialidad (
    id_parcialidad bigint NOT NULL,
    diferencia_peso double precision,
    fecha_recepcion date,
    hora_recepcion time(6) without time zone,
    id_transportista bigint,
    observaciones character varying(255),
    peso_actual double precision,
    placa character varying(255),
    estado bigint,
    id_pesaje bigint NOT NULL,
    id_cuenta bigint NOT NULL
);


ALTER TABLE agricultor.parcialidad OWNER TO postgres;

--
-- Name: parcialidad_id_parcialidad_seq; Type: SEQUENCE; Schema: agricultor; Owner: postgres
--

CREATE SEQUENCE agricultor.parcialidad_id_parcialidad_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE agricultor.parcialidad_id_parcialidad_seq OWNER TO postgres;

--
-- Name: parcialidad_id_parcialidad_seq; Type: SEQUENCE OWNED BY; Schema: agricultor; Owner: postgres
--

ALTER SEQUENCE agricultor.parcialidad_id_parcialidad_seq OWNED BY agricultor.parcialidad.id_parcialidad;


--
-- Name: pesaje; Type: TABLE; Schema: agricultor; Owner: postgres
--

CREATE TABLE agricultor.pesaje (
    id_pesaje bigint NOT NULL,
    cantidad_parcialidades integer,
    fecha timestamp(6) without time zone,
    no_cuenta character varying(255),
    observaciones character varying(255),
    peso_total_actual double precision,
    id_agricultor bigint NOT NULL,
    estado bigint,
    medida bigint,
    id_cuenta bigint NOT NULL
);


ALTER TABLE agricultor.pesaje OWNER TO postgres;

--
-- Name: pesaje_id_pesaje_seq; Type: SEQUENCE; Schema: agricultor; Owner: postgres
--

CREATE SEQUENCE agricultor.pesaje_id_pesaje_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE agricultor.pesaje_id_pesaje_seq OWNER TO postgres;

--
-- Name: pesaje_id_pesaje_seq; Type: SEQUENCE OWNED BY; Schema: agricultor; Owner: postgres
--

ALTER SEQUENCE agricultor.pesaje_id_pesaje_seq OWNED BY agricultor.pesaje.id_pesaje;


--
-- Name: transportes; Type: TABLE; Schema: agricultor; Owner: postgres
--

CREATE TABLE agricultor.transportes (
    id_transporte bigint NOT NULL,
    disponible boolean,
    estado integer,
    observaciones character varying(255),
    pesaje_asociado bigint,
    placa character varying(255) NOT NULL,
    id_agricultor bigint NOT NULL,
    id_color bigint,
    id_linea bigint,
    id_marca bigint,
    id_modelo bigint
);


ALTER TABLE agricultor.transportes OWNER TO postgres;

--
-- Name: transportes_id_transporte_seq; Type: SEQUENCE; Schema: agricultor; Owner: postgres
--

CREATE SEQUENCE agricultor.transportes_id_transporte_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE agricultor.transportes_id_transporte_seq OWNER TO postgres;

--
-- Name: transportes_id_transporte_seq; Type: SEQUENCE OWNED BY; Schema: agricultor; Owner: postgres
--

ALTER SEQUENCE agricultor.transportes_id_transporte_seq OWNED BY agricultor.transportes.id_transporte;


--
-- Name: transportista; Type: TABLE; Schema: agricultor; Owner: postgres
--

CREATE TABLE agricultor.transportista (
    id_transportista bigint NOT NULL,
    cui character varying(255) NOT NULL,
    disponible boolean,
    estado integer,
    fecha_nacimiento date,
    fecha_venci_licencia date,
    nombre character varying(255) NOT NULL,
    pesaje_asociado bigint,
    id_agricultor bigint NOT NULL,
    tipo_licencia bigint
);


ALTER TABLE agricultor.transportista OWNER TO postgres;

--
-- Name: transportista_id_transportista_seq; Type: SEQUENCE; Schema: agricultor; Owner: postgres
--

CREATE SEQUENCE agricultor.transportista_id_transportista_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE agricultor.transportista_id_transportista_seq OWNER TO postgres;

--
-- Name: transportista_id_transportista_seq; Type: SEQUENCE OWNED BY; Schema: agricultor; Owner: postgres
--

ALTER SEQUENCE agricultor.transportista_id_transportista_seq OWNED BY agricultor.transportista.id_transportista;


--
-- Name: bitacora; Type: TABLE; Schema: beneficio; Owner: postgres
--

CREATE TABLE beneficio.bitacora (
    id_bitacora bigint NOT NULL,
    operacion character varying(100),
    usuario character varying(100),
    cuenta bigint,
    observacion text,
    fecha_sistema timestamp without time zone,
    balance double precision,
    codigo_peso character varying(100),
    estado character varying(50),
    extemporaneo boolean,
    medida character varying(100),
    parcial bigint,
    peso_observado double precision,
    peso_real double precision,
    transporte character varying(100),
    transportista character varying(100)
);


ALTER TABLE beneficio.bitacora OWNER TO postgres;

--
-- Name: bitacora_id_bitacora_seq; Type: SEQUENCE; Schema: beneficio; Owner: postgres
--

CREATE SEQUENCE beneficio.bitacora_id_bitacora_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE beneficio.bitacora_id_bitacora_seq OWNER TO postgres;

--
-- Name: bitacora_id_bitacora_seq; Type: SEQUENCE OWNED BY; Schema: beneficio; Owner: postgres
--

ALTER SEQUENCE beneficio.bitacora_id_bitacora_seq OWNED BY beneficio.bitacora.id_bitacora;


--
-- Name: catalogo; Type: TABLE; Schema: beneficio; Owner: postgres
--

CREATE TABLE beneficio.catalogo (
    id_catalogo bigint NOT NULL,
    descripcion character varying(255),
    nombre_catalogo character varying(100) NOT NULL
);


ALTER TABLE beneficio.catalogo OWNER TO postgres;

--
-- Name: catalogo_id_catalogo_seq; Type: SEQUENCE; Schema: beneficio; Owner: postgres
--

CREATE SEQUENCE beneficio.catalogo_id_catalogo_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE beneficio.catalogo_id_catalogo_seq OWNER TO postgres;

--
-- Name: catalogo_id_catalogo_seq; Type: SEQUENCE OWNED BY; Schema: beneficio; Owner: postgres
--

ALTER SEQUENCE beneficio.catalogo_id_catalogo_seq OWNED BY beneficio.catalogo.id_catalogo;


--
-- Name: cuenta; Type: TABLE; Schema: beneficio; Owner: postgres
--

CREATE TABLE beneficio.cuenta (
    id_cuenta bigint NOT NULL,
    id_agricultor bigint NOT NULL,
    peso_total double precision,
    cantidad_parcialidades integer,
    fecha_envio timestamp without time zone,
    estado character varying(50),
    fecha_llegada timestamp without time zone,
    diferencia_total double precision,
    resultado_tolerancia character varying(255),
    tolerancia double precision,
    peso_acumulado double precision,
    peso_objetivo double precision,
    saldo_pendiente double precision,
    peso_bascula_total double precision
);


ALTER TABLE beneficio.cuenta OWNER TO postgres;

--
-- Name: cuenta_id_cuenta_seq; Type: SEQUENCE; Schema: beneficio; Owner: postgres
--

CREATE SEQUENCE beneficio.cuenta_id_cuenta_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE beneficio.cuenta_id_cuenta_seq OWNER TO postgres;

--
-- Name: cuenta_id_cuenta_seq; Type: SEQUENCE OWNED BY; Schema: beneficio; Owner: postgres
--

ALTER SEQUENCE beneficio.cuenta_id_cuenta_seq OWNED BY beneficio.cuenta.id_cuenta;


--
-- Name: detalle_catalogo; Type: TABLE; Schema: beneficio; Owner: postgres
--

CREATE TABLE beneficio.detalle_catalogo (
    id_detalle_catalogo bigint NOT NULL,
    codigo character varying(50),
    factor_conversion double precision,
    orden integer,
    valor character varying(100),
    id_catalogo bigint NOT NULL
);


ALTER TABLE beneficio.detalle_catalogo OWNER TO postgres;

--
-- Name: detalle_catalogo_id_detalle_catalogo_seq; Type: SEQUENCE; Schema: beneficio; Owner: postgres
--

CREATE SEQUENCE beneficio.detalle_catalogo_id_detalle_catalogo_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE beneficio.detalle_catalogo_id_detalle_catalogo_seq OWNER TO postgres;

--
-- Name: detalle_catalogo_id_detalle_catalogo_seq; Type: SEQUENCE OWNED BY; Schema: beneficio; Owner: postgres
--

ALTER SEQUENCE beneficio.detalle_catalogo_id_detalle_catalogo_seq OWNED BY beneficio.detalle_catalogo.id_detalle_catalogo;


--
-- Name: historial_cuenta; Type: TABLE; Schema: beneficio; Owner: postgres
--

CREATE TABLE beneficio.historial_cuenta (
    id_historial bigint NOT NULL,
    id_cuenta bigint NOT NULL,
    id_agricultor bigint NOT NULL,
    estado character varying(50),
    diferencia_total double precision,
    tolerancia double precision,
    fecha_registro timestamp without time zone
);


ALTER TABLE beneficio.historial_cuenta OWNER TO postgres;

--
-- Name: historial_cuenta_id_historial_seq; Type: SEQUENCE; Schema: beneficio; Owner: postgres
--

CREATE SEQUENCE beneficio.historial_cuenta_id_historial_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE beneficio.historial_cuenta_id_historial_seq OWNER TO postgres;

--
-- Name: historial_cuenta_id_historial_seq; Type: SEQUENCE OWNED BY; Schema: beneficio; Owner: postgres
--

ALTER SEQUENCE beneficio.historial_cuenta_id_historial_seq OWNED BY beneficio.historial_cuenta.id_historial;


--
-- Name: parcialidad_beneficio; Type: TABLE; Schema: beneficio; Owner: postgres
--

CREATE TABLE beneficio.parcialidad_beneficio (
    id_parcialidad_beneficio bigint NOT NULL,
    estado character varying(255),
    fecha_registro timestamp(6) without time zone,
    id_parcialidad_agricultor bigint,
    id_pesaje_agricultor bigint,
    observaciones character varying(255),
    peso double precision,
    id_cuenta bigint NOT NULL,
    boleta boolean,
    cui_transportista character varying(13),
    detalle character varying(150),
    diferencia_peso double precision,
    estado_transporte integer,
    estado_transportista integer,
    fecha_boleta timestamp(6) without time zone,
    fecha_peso_bascula timestamp(6) without time zone,
    fecha_recepcion_parcialidad timestamp(6) without time zone,
    nombre_transportista character varying(150),
    observacion_transporte character varying(255),
    observacion_transportista character varying(255),
    peso_bascula double precision,
    peso_enviado double precision,
    placa_transporte character varying(20),
    tipo_medida character varying(50)
);


ALTER TABLE beneficio.parcialidad_beneficio OWNER TO postgres;

--
-- Name: parcialidad_beneficio_id_parcialidad_beneficio_seq; Type: SEQUENCE; Schema: beneficio; Owner: postgres
--

CREATE SEQUENCE beneficio.parcialidad_beneficio_id_parcialidad_beneficio_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE beneficio.parcialidad_beneficio_id_parcialidad_beneficio_seq OWNER TO postgres;

--
-- Name: parcialidad_beneficio_id_parcialidad_beneficio_seq; Type: SEQUENCE OWNED BY; Schema: beneficio; Owner: postgres
--

ALTER SEQUENCE beneficio.parcialidad_beneficio_id_parcialidad_beneficio_seq OWNED BY beneficio.parcialidad_beneficio.id_parcialidad_beneficio;


--
-- Name: transito; Type: TABLE; Schema: beneficio; Owner: postgres
--

CREATE TABLE beneficio.transito (
    id_transito bigint NOT NULL,
    hora_llegada_est timestamp(6) without time zone,
    hora_llegada_real timestamp(6) without time zone,
    hora_salida timestamp(6) without time zone,
    id_cuenta bigint NOT NULL,
    id_estado_transito bigint,
    cui_transportista character varying(13) NOT NULL,
    estado_transporte integer NOT NULL,
    estado_transportista integer NOT NULL,
    fecha_registro timestamp(6) without time zone,
    nombre_transportista character varying(150) NOT NULL,
    observacion_transporte character varying(255),
    observacion_transportista character varying(255),
    placa character varying(20) NOT NULL
);


ALTER TABLE beneficio.transito OWNER TO postgres;

--
-- Name: transito_id_transito_seq; Type: SEQUENCE; Schema: beneficio; Owner: postgres
--

CREATE SEQUENCE beneficio.transito_id_transito_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE beneficio.transito_id_transito_seq OWNER TO postgres;

--
-- Name: transito_id_transito_seq; Type: SEQUENCE OWNED BY; Schema: beneficio; Owner: postgres
--

ALTER SEQUENCE beneficio.transito_id_transito_seq OWNED BY beneficio.transito.id_transito;


--
-- Name: catalogo; Type: TABLE; Schema: pesocabal; Owner: postgres
--

CREATE TABLE pesocabal.catalogo (
    id_catalogo bigint NOT NULL,
    descripcion character varying(255),
    nombre_categoria character varying(255) NOT NULL
);


ALTER TABLE pesocabal.catalogo OWNER TO postgres;

--
-- Name: catalogo_id_catalogo_seq; Type: SEQUENCE; Schema: pesocabal; Owner: postgres
--

CREATE SEQUENCE pesocabal.catalogo_id_catalogo_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE pesocabal.catalogo_id_catalogo_seq OWNER TO postgres;

--
-- Name: catalogo_id_catalogo_seq; Type: SEQUENCE OWNED BY; Schema: pesocabal; Owner: postgres
--

ALTER SEQUENCE pesocabal.catalogo_id_catalogo_seq OWNED BY pesocabal.catalogo.id_catalogo;


--
-- Name: usuario; Type: TABLE; Schema: pesocabal; Owner: postgres
--

CREATE TABLE pesocabal.usuario (
    id_usuario bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    contrasena character varying(255) NOT NULL,
    id_rol integer NOT NULL,
    estado integer NOT NULL,
    id_agricultor integer
);


ALTER TABLE pesocabal.usuario OWNER TO postgres;

--
-- Name: usuario_id_usuario_seq; Type: SEQUENCE; Schema: pesocabal; Owner: postgres
--

CREATE SEQUENCE pesocabal.usuario_id_usuario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE pesocabal.usuario_id_usuario_seq OWNER TO postgres;

--
-- Name: usuario_id_usuario_seq; Type: SEQUENCE OWNED BY; Schema: pesocabal; Owner: postgres
--

ALTER SEQUENCE pesocabal.usuario_id_usuario_seq OWNED BY pesocabal.usuario.id_usuario;


--
-- Name: agricultor id_agricultor; Type: DEFAULT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.agricultor ALTER COLUMN id_agricultor SET DEFAULT nextval('agricultor.agricultor_id_agricultor_seq'::regclass);


--
-- Name: catalogo id_catalogo; Type: DEFAULT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.catalogo ALTER COLUMN id_catalogo SET DEFAULT nextval('agricultor.catalogo_id_catalogo_seq'::regclass);


--
-- Name: color id_catalogo; Type: DEFAULT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.color ALTER COLUMN id_catalogo SET DEFAULT nextval('agricultor.color_id_catalogo_seq'::regclass);


--
-- Name: detalle_catalogo id_detalle_catalogo; Type: DEFAULT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.detalle_catalogo ALTER COLUMN id_detalle_catalogo SET DEFAULT nextval('agricultor.detalle_catalogo_id_detalle_catalogo_seq'::regclass);


--
-- Name: licencia id_catalogo; Type: DEFAULT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.licencia ALTER COLUMN id_catalogo SET DEFAULT nextval('agricultor.licencia_id_catalogo_seq'::regclass);


--
-- Name: linea id_catalogo; Type: DEFAULT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.linea ALTER COLUMN id_catalogo SET DEFAULT nextval('agricultor.linea_id_catalogo_seq'::regclass);


--
-- Name: marca id_catalogo; Type: DEFAULT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.marca ALTER COLUMN id_catalogo SET DEFAULT nextval('agricultor.marca_id_catalogo_seq'::regclass);


--
-- Name: modelo id_catalogo; Type: DEFAULT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.modelo ALTER COLUMN id_catalogo SET DEFAULT nextval('agricultor.modelo_id_catalogo_seq'::regclass);


--
-- Name: parcialidad id_parcialidad; Type: DEFAULT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.parcialidad ALTER COLUMN id_parcialidad SET DEFAULT nextval('agricultor.parcialidad_id_parcialidad_seq'::regclass);


--
-- Name: pesaje id_pesaje; Type: DEFAULT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.pesaje ALTER COLUMN id_pesaje SET DEFAULT nextval('agricultor.pesaje_id_pesaje_seq'::regclass);


--
-- Name: transportes id_transporte; Type: DEFAULT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.transportes ALTER COLUMN id_transporte SET DEFAULT nextval('agricultor.transportes_id_transporte_seq'::regclass);


--
-- Name: transportista id_transportista; Type: DEFAULT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.transportista ALTER COLUMN id_transportista SET DEFAULT nextval('agricultor.transportista_id_transportista_seq'::regclass);


--
-- Name: bitacora id_bitacora; Type: DEFAULT; Schema: beneficio; Owner: postgres
--

ALTER TABLE ONLY beneficio.bitacora ALTER COLUMN id_bitacora SET DEFAULT nextval('beneficio.bitacora_id_bitacora_seq'::regclass);


--
-- Name: catalogo id_catalogo; Type: DEFAULT; Schema: beneficio; Owner: postgres
--

ALTER TABLE ONLY beneficio.catalogo ALTER COLUMN id_catalogo SET DEFAULT nextval('beneficio.catalogo_id_catalogo_seq'::regclass);


--
-- Name: cuenta id_cuenta; Type: DEFAULT; Schema: beneficio; Owner: postgres
--

ALTER TABLE ONLY beneficio.cuenta ALTER COLUMN id_cuenta SET DEFAULT nextval('beneficio.cuenta_id_cuenta_seq'::regclass);


--
-- Name: detalle_catalogo id_detalle_catalogo; Type: DEFAULT; Schema: beneficio; Owner: postgres
--

ALTER TABLE ONLY beneficio.detalle_catalogo ALTER COLUMN id_detalle_catalogo SET DEFAULT nextval('beneficio.detalle_catalogo_id_detalle_catalogo_seq'::regclass);


--
-- Name: historial_cuenta id_historial; Type: DEFAULT; Schema: beneficio; Owner: postgres
--

ALTER TABLE ONLY beneficio.historial_cuenta ALTER COLUMN id_historial SET DEFAULT nextval('beneficio.historial_cuenta_id_historial_seq'::regclass);


--
-- Name: parcialidad_beneficio id_parcialidad_beneficio; Type: DEFAULT; Schema: beneficio; Owner: postgres
--

ALTER TABLE ONLY beneficio.parcialidad_beneficio ALTER COLUMN id_parcialidad_beneficio SET DEFAULT nextval('beneficio.parcialidad_beneficio_id_parcialidad_beneficio_seq'::regclass);


--
-- Name: transito id_transito; Type: DEFAULT; Schema: beneficio; Owner: postgres
--

ALTER TABLE ONLY beneficio.transito ALTER COLUMN id_transito SET DEFAULT nextval('beneficio.transito_id_transito_seq'::regclass);


--
-- Name: catalogo id_catalogo; Type: DEFAULT; Schema: pesocabal; Owner: postgres
--

ALTER TABLE ONLY pesocabal.catalogo ALTER COLUMN id_catalogo SET DEFAULT nextval('pesocabal.catalogo_id_catalogo_seq'::regclass);


--
-- Name: usuario id_usuario; Type: DEFAULT; Schema: pesocabal; Owner: postgres
--

ALTER TABLE ONLY pesocabal.usuario ALTER COLUMN id_usuario SET DEFAULT nextval('pesocabal.usuario_id_usuario_seq'::regclass);


--
-- Data for Name: agricultor; Type: TABLE DATA; Schema: agricultor; Owner: postgres
--

COPY agricultor.agricultor (id_agricultor, direccion, fecha_creacion, nit, nombre, telefono) FROM stdin;
1	San Juan Sacatep├⌐quez, Guatemala	2026-05-18 02:30:04.345138	1234567-8	Juan Perez	55554444
\.


--
-- Data for Name: catalogo; Type: TABLE DATA; Schema: agricultor; Owner: postgres
--

COPY agricultor.catalogo (id_catalogo, descripcion, nombre_catalogo) FROM stdin;
1	Estados de pesaje	ESTADO_PESAJE
2	Medidas de peso	MEDIDA_PESO
3	Tipos de licencia	TIPO_LICENCIA
\.


--
-- Data for Name: color; Type: TABLE DATA; Schema: agricultor; Owner: postgres
--

COPY agricultor.color (id_catalogo, id_catalogo_publico, nombre) FROM stdin;
1	1	Blanco
2	2	Negro
3	3	Rojo
\.


--
-- Data for Name: detalle_catalogo; Type: TABLE DATA; Schema: agricultor; Owner: postgres
--

COPY agricultor.detalle_catalogo (id_detalle_catalogo, codigo, factor_conversion, orden, valor, id_catalogo) FROM stdin;
1	CUENTA_CREADA	\N	1	Cuenta Creada	1
2	PESAJE_INICIADO	\N	2	Pesaje Iniciado	1
3	PESAJE_FINALIZADO	\N	3	Pesaje Finalizado	1
7	A	\N	1	Tipo A	3
8	B	\N	2	Tipo B	3
9	C	\N	3	Tipo C	3
4	QUINTAL	45.3592	1	Quintal	2
5	KILOGRAMO	1	2	Kilogramo	2
6	LIBRA	0.453592	3	Libra	2
\.


--
-- Data for Name: licencia; Type: TABLE DATA; Schema: agricultor; Owner: postgres
--

COPY agricultor.licencia (id_catalogo, id_catalogo_publico, nombre) FROM stdin;
1	1	Tipo A
2	2	Tipo B
3	3	Tipo C
4	4	Tipo M
\.


--
-- Data for Name: linea; Type: TABLE DATA; Schema: agricultor; Owner: postgres
--

COPY agricultor.linea (id_catalogo, id_catalogo_publico, nombre) FROM stdin;
1	1	Hilux
2	2	Frontier
3	3	L200
\.


--
-- Data for Name: marca; Type: TABLE DATA; Schema: agricultor; Owner: postgres
--

COPY agricultor.marca (id_catalogo, id_catalogo_publico, nombre) FROM stdin;
1	1	Toyota
2	2	Nissan
3	3	Mitsubishi
\.


--
-- Data for Name: modelo; Type: TABLE DATA; Schema: agricultor; Owner: postgres
--

COPY agricultor.modelo (id_catalogo, id_catalogo_publico, nombre) FROM stdin;
1	1	2020
2	2	2021
3	3	2022
4	4	2023
\.


--
-- Data for Name: parcialidad; Type: TABLE DATA; Schema: agricultor; Owner: postgres
--

COPY agricultor.parcialidad (id_parcialidad, diferencia_peso, fecha_recepcion, hora_recepcion, id_transportista, observaciones, peso_actual, placa, estado, id_pesaje, id_cuenta) FROM stdin;
\.


--
-- Data for Name: pesaje; Type: TABLE DATA; Schema: agricultor; Owner: postgres
--

COPY agricultor.pesaje (id_pesaje, cantidad_parcialidades, fecha, no_cuenta, observaciones, peso_total_actual, id_agricultor, estado, medida, id_cuenta) FROM stdin;
\.


--
-- Data for Name: transportes; Type: TABLE DATA; Schema: agricultor; Owner: postgres
--

COPY agricultor.transportes (id_transporte, disponible, estado, observaciones, pesaje_asociado, placa, id_agricultor, id_color, id_linea, id_marca, id_modelo) FROM stdin;
3	t	\N	Transporte registrado por agricultor	\N	P123ABC	1	\N	\N	\N	\N
4	f	1	Primer Carro	7	P178KYD	1	3	1	1	1
5	t	1	Segundo Carro	\N	P332KYD	1	2	1	1	1
1	t	\N	Transporte de prueba	\N	ABC123	1	\N	\N	\N	\N
\.


--
-- Data for Name: transportista; Type: TABLE DATA; Schema: agricultor; Owner: postgres
--

COPY agricultor.transportista (id_transportista, cui, disponible, estado, fecha_nacimiento, fecha_venci_licencia, nombre, pesaje_asociado, id_agricultor, tipo_licencia) FROM stdin;
1	1234567890101	t	\N	\N	\N	Transportista de prueba	\N	1	\N
2	9876543210101	t	\N	1995-05-10	2028-12-31	Pedro Transportista	\N	1	\N
38	2837279850110	f	1	2004-03-13	2026-12-30	Abrahan	7	1	4
39	12345678910123	t	1	1976-09-11	2027-09-10	Julio Cesar Chet	\N	1	2
37	4567891230101	t	1	1995-05-10	2028-12-31	Carlos Transportista	\N	1	1
\.


--
-- Data for Name: bitacora; Type: TABLE DATA; Schema: beneficio; Owner: postgres
--



--
-- Data for Name: catalogo; Type: TABLE DATA; Schema: beneficio; Owner: postgres
--

COPY beneficio.catalogo (id_catalogo, descripcion, nombre_catalogo) FROM stdin;
\.


--
-- Data for Name: cuenta; Type: TABLE DATA; Schema: beneficio; Owner: postgres
--



--
-- Data for Name: detalle_catalogo; Type: TABLE DATA; Schema: beneficio; Owner: postgres
--

COPY beneficio.detalle_catalogo (id_detalle_catalogo, codigo, factor_conversion, orden, valor, id_catalogo) FROM stdin;
\.


--
-- Data for Name: historial_cuenta; Type: TABLE DATA; Schema: beneficio; Owner: postgres
--



--
-- Data for Name: parcialidad_beneficio; Type: TABLE DATA; Schema: beneficio; Owner: postgres
--



--
-- Data for Name: transito; Type: TABLE DATA; Schema: beneficio; Owner: postgres
--



--
-- Data for Name: catalogo; Type: TABLE DATA; Schema: pesocabal; Owner: postgres
--

COPY pesocabal.catalogo (id_catalogo, descripcion, nombre_categoria) FROM stdin;
\.


--
-- Data for Name: usuario; Type: TABLE DATA; Schema: pesocabal; Owner: postgres
--

COPY pesocabal.usuario (id_usuario, nombre, contrasena, id_rol, estado, id_agricultor) FROM stdin;
4	nuevo	$2a$10$af2JhhDZpt1SLWntZXJJt.HBNXVQ/7O/ueNp9CSH1EmTgVLgy8Xr2	3	1	1
2	beneficio	$2a$10$af2JhhDZpt1SLWntZXJJt.HBNXVQ/7O/ueNp9CSH1EmTgVLgy8Xr2	1	1	\N
3	admin	$2a$10$af2JhhDZpt1SLWntZXJJt.HBNXVQ/7O/ueNp9CSH1EmTgVLgy8Xr2	2	1	\N
1	agricultor	$2a$10$af2JhhDZpt1SLWntZXJJt.HBNXVQ/7O/ueNp9CSH1EmTgVLgy8Xr2	3	1	1
\.


--
-- Name: agricultor_id_agricultor_seq; Type: SEQUENCE SET; Schema: agricultor; Owner: postgres
--

SELECT pg_catalog.setval('agricultor.agricultor_id_agricultor_seq', 1, false);


--
-- Name: catalogo_id_catalogo_seq; Type: SEQUENCE SET; Schema: agricultor; Owner: postgres
--

SELECT pg_catalog.setval('agricultor.catalogo_id_catalogo_seq', 1, false);


--
-- Name: color_id_catalogo_seq; Type: SEQUENCE SET; Schema: agricultor; Owner: postgres
--

SELECT pg_catalog.setval('agricultor.color_id_catalogo_seq', 3, true);


--
-- Name: detalle_catalogo_id_detalle_catalogo_seq; Type: SEQUENCE SET; Schema: agricultor; Owner: postgres
--

SELECT pg_catalog.setval('agricultor.detalle_catalogo_id_detalle_catalogo_seq', 1, false);


--
-- Name: licencia_id_catalogo_seq; Type: SEQUENCE SET; Schema: agricultor; Owner: postgres
--

SELECT pg_catalog.setval('agricultor.licencia_id_catalogo_seq', 4, true);


--
-- Name: linea_id_catalogo_seq; Type: SEQUENCE SET; Schema: agricultor; Owner: postgres
--

SELECT pg_catalog.setval('agricultor.linea_id_catalogo_seq', 3, true);


--
-- Name: marca_id_catalogo_seq; Type: SEQUENCE SET; Schema: agricultor; Owner: postgres
--

SELECT pg_catalog.setval('agricultor.marca_id_catalogo_seq', 3, true);


--
-- Name: modelo_id_catalogo_seq; Type: SEQUENCE SET; Schema: agricultor; Owner: postgres
--

SELECT pg_catalog.setval('agricultor.modelo_id_catalogo_seq', 4, true);


--
-- Name: parcialidad_id_parcialidad_seq; Type: SEQUENCE SET; Schema: agricultor; Owner: postgres
--

SELECT pg_catalog.setval('agricultor.parcialidad_id_parcialidad_seq', 9, true);


--
-- Name: pesaje_id_pesaje_seq; Type: SEQUENCE SET; Schema: agricultor; Owner: postgres
--

SELECT pg_catalog.setval('agricultor.pesaje_id_pesaje_seq', 10, true);


--
-- Name: transportes_id_transporte_seq; Type: SEQUENCE SET; Schema: agricultor; Owner: postgres
--

SELECT pg_catalog.setval('agricultor.transportes_id_transporte_seq', 5, true);


--
-- Name: transportista_id_transportista_seq; Type: SEQUENCE SET; Schema: agricultor; Owner: postgres
--

SELECT pg_catalog.setval('agricultor.transportista_id_transportista_seq', 39, true);


--
-- Name: bitacora_id_bitacora_seq; Type: SEQUENCE SET; Schema: beneficio; Owner: postgres
--

SELECT pg_catalog.setval('beneficio.bitacora_id_bitacora_seq', 87, true);


--
-- Name: catalogo_id_catalogo_seq; Type: SEQUENCE SET; Schema: beneficio; Owner: postgres
--

SELECT pg_catalog.setval('beneficio.catalogo_id_catalogo_seq', 1, false);


--
-- Name: cuenta_id_cuenta_seq; Type: SEQUENCE SET; Schema: beneficio; Owner: postgres
--

SELECT pg_catalog.setval('beneficio.cuenta_id_cuenta_seq', 22, true);


--
-- Name: detalle_catalogo_id_detalle_catalogo_seq; Type: SEQUENCE SET; Schema: beneficio; Owner: postgres
--

SELECT pg_catalog.setval('beneficio.detalle_catalogo_id_detalle_catalogo_seq', 1, false);


--
-- Name: historial_cuenta_id_historial_seq; Type: SEQUENCE SET; Schema: beneficio; Owner: postgres
--

SELECT pg_catalog.setval('beneficio.historial_cuenta_id_historial_seq', 79, true);


--
-- Name: parcialidad_beneficio_id_parcialidad_beneficio_seq; Type: SEQUENCE SET; Schema: beneficio; Owner: postgres
--

SELECT pg_catalog.setval('beneficio.parcialidad_beneficio_id_parcialidad_beneficio_seq', 20, true);


--
-- Name: transito_id_transito_seq; Type: SEQUENCE SET; Schema: beneficio; Owner: postgres
--

SELECT pg_catalog.setval('beneficio.transito_id_transito_seq', 3, true);


--
-- Name: catalogo_id_catalogo_seq; Type: SEQUENCE SET; Schema: pesocabal; Owner: postgres
--

SELECT pg_catalog.setval('pesocabal.catalogo_id_catalogo_seq', 1, false);


--
-- Name: usuario_id_usuario_seq; Type: SEQUENCE SET; Schema: pesocabal; Owner: postgres
--

SELECT pg_catalog.setval('pesocabal.usuario_id_usuario_seq', 4, true);


--
-- Name: agricultor agricultor_pkey; Type: CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.agricultor
    ADD CONSTRAINT agricultor_pkey PRIMARY KEY (id_agricultor);


--
-- Name: catalogo catalogo_pkey; Type: CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.catalogo
    ADD CONSTRAINT catalogo_pkey PRIMARY KEY (id_catalogo);


--
-- Name: color color_pkey; Type: CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.color
    ADD CONSTRAINT color_pkey PRIMARY KEY (id_catalogo);


--
-- Name: detalle_catalogo detalle_catalogo_pkey; Type: CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.detalle_catalogo
    ADD CONSTRAINT detalle_catalogo_pkey PRIMARY KEY (id_detalle_catalogo);


--
-- Name: licencia licencia_pkey; Type: CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.licencia
    ADD CONSTRAINT licencia_pkey PRIMARY KEY (id_catalogo);


--
-- Name: linea linea_pkey; Type: CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.linea
    ADD CONSTRAINT linea_pkey PRIMARY KEY (id_catalogo);


--
-- Name: marca marca_pkey; Type: CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.marca
    ADD CONSTRAINT marca_pkey PRIMARY KEY (id_catalogo);


--
-- Name: modelo modelo_pkey; Type: CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.modelo
    ADD CONSTRAINT modelo_pkey PRIMARY KEY (id_catalogo);


--
-- Name: parcialidad parcialidad_pkey; Type: CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.parcialidad
    ADD CONSTRAINT parcialidad_pkey PRIMARY KEY (id_parcialidad);


--
-- Name: pesaje pesaje_pkey; Type: CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.pesaje
    ADD CONSTRAINT pesaje_pkey PRIMARY KEY (id_pesaje);


--
-- Name: transportes transportes_pkey; Type: CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.transportes
    ADD CONSTRAINT transportes_pkey PRIMARY KEY (id_transporte);


--
-- Name: transportista transportista_pkey; Type: CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.transportista
    ADD CONSTRAINT transportista_pkey PRIMARY KEY (id_transportista);


--
-- Name: transportes uk_ed29fep4g4rvsmyv41sco2vir; Type: CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.transportes
    ADD CONSTRAINT uk_ed29fep4g4rvsmyv41sco2vir UNIQUE (placa);


--
-- Name: transportista uk_hlajj2pa83jm3tc0udvtexuwr; Type: CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.transportista
    ADD CONSTRAINT uk_hlajj2pa83jm3tc0udvtexuwr UNIQUE (cui);


--
-- Name: agricultor uk_sc4vdwhh3iibnt1biw9td2an0; Type: CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.agricultor
    ADD CONSTRAINT uk_sc4vdwhh3iibnt1biw9td2an0 UNIQUE (nit);


--
-- Name: bitacora bitacora_pkey; Type: CONSTRAINT; Schema: beneficio; Owner: postgres
--

ALTER TABLE ONLY beneficio.bitacora
    ADD CONSTRAINT bitacora_pkey PRIMARY KEY (id_bitacora);


--
-- Name: catalogo catalogo_pkey; Type: CONSTRAINT; Schema: beneficio; Owner: postgres
--

ALTER TABLE ONLY beneficio.catalogo
    ADD CONSTRAINT catalogo_pkey PRIMARY KEY (id_catalogo);


--
-- Name: cuenta cuenta_pkey; Type: CONSTRAINT; Schema: beneficio; Owner: postgres
--

ALTER TABLE ONLY beneficio.cuenta
    ADD CONSTRAINT cuenta_pkey PRIMARY KEY (id_cuenta);


--
-- Name: detalle_catalogo detalle_catalogo_pkey; Type: CONSTRAINT; Schema: beneficio; Owner: postgres
--

ALTER TABLE ONLY beneficio.detalle_catalogo
    ADD CONSTRAINT detalle_catalogo_pkey PRIMARY KEY (id_detalle_catalogo);


--
-- Name: historial_cuenta historial_cuenta_pkey; Type: CONSTRAINT; Schema: beneficio; Owner: postgres
--

ALTER TABLE ONLY beneficio.historial_cuenta
    ADD CONSTRAINT historial_cuenta_pkey PRIMARY KEY (id_historial);


--
-- Name: parcialidad_beneficio parcialidad_beneficio_pkey; Type: CONSTRAINT; Schema: beneficio; Owner: postgres
--

ALTER TABLE ONLY beneficio.parcialidad_beneficio
    ADD CONSTRAINT parcialidad_beneficio_pkey PRIMARY KEY (id_parcialidad_beneficio);


--
-- Name: transito transito_pkey; Type: CONSTRAINT; Schema: beneficio; Owner: postgres
--

ALTER TABLE ONLY beneficio.transito
    ADD CONSTRAINT transito_pkey PRIMARY KEY (id_transito);


--
-- Name: catalogo catalogo_pkey; Type: CONSTRAINT; Schema: pesocabal; Owner: postgres
--

ALTER TABLE ONLY pesocabal.catalogo
    ADD CONSTRAINT catalogo_pkey PRIMARY KEY (id_catalogo);


--
-- Name: usuario usuario_nombre_key; Type: CONSTRAINT; Schema: pesocabal; Owner: postgres
--

ALTER TABLE ONLY pesocabal.usuario
    ADD CONSTRAINT usuario_nombre_key UNIQUE (nombre);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: pesocabal; Owner: postgres
--

ALTER TABLE ONLY pesocabal.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (id_usuario);


--
-- Name: parcialidad fk1mkco4uugw07jd3q703uofcg0; Type: FK CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.parcialidad
    ADD CONSTRAINT fk1mkco4uugw07jd3q703uofcg0 FOREIGN KEY (estado) REFERENCES agricultor.detalle_catalogo(id_detalle_catalogo);


--
-- Name: transportes fk3bphjqf2vcigi1jp5oe4jk05l; Type: FK CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.transportes
    ADD CONSTRAINT fk3bphjqf2vcigi1jp5oe4jk05l FOREIGN KEY (id_marca) REFERENCES agricultor.marca(id_catalogo);


--
-- Name: transportista fk4ygsd5dkvbab57nkkgs5yryx; Type: FK CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.transportista
    ADD CONSTRAINT fk4ygsd5dkvbab57nkkgs5yryx FOREIGN KEY (tipo_licencia) REFERENCES agricultor.licencia(id_catalogo);


--
-- Name: detalle_catalogo fk507xgyl99yye0pot0ngef1hrs; Type: FK CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.detalle_catalogo
    ADD CONSTRAINT fk507xgyl99yye0pot0ngef1hrs FOREIGN KEY (id_catalogo) REFERENCES agricultor.catalogo(id_catalogo);


--
-- Name: pesaje fk9tsekcm8ouqwng4dmo7yds2pm; Type: FK CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.pesaje
    ADD CONSTRAINT fk9tsekcm8ouqwng4dmo7yds2pm FOREIGN KEY (estado) REFERENCES agricultor.detalle_catalogo(id_detalle_catalogo);


--
-- Name: parcialidad fk_parcialidad_pesaje; Type: FK CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.parcialidad
    ADD CONSTRAINT fk_parcialidad_pesaje FOREIGN KEY (id_pesaje) REFERENCES agricultor.pesaje(id_pesaje);


--
-- Name: pesaje fkbc8x4s1irj3wr8ftb7fc6pqh8; Type: FK CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.pesaje
    ADD CONSTRAINT fkbc8x4s1irj3wr8ftb7fc6pqh8 FOREIGN KEY (medida) REFERENCES agricultor.detalle_catalogo(id_detalle_catalogo);


--
-- Name: transportista fkbpndoevcxv86lbvl6yxeq3x52; Type: FK CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.transportista
    ADD CONSTRAINT fkbpndoevcxv86lbvl6yxeq3x52 FOREIGN KEY (id_agricultor) REFERENCES agricultor.agricultor(id_agricultor);


--
-- Name: transportes fkgihggji7q5da93tv0sa1sko30; Type: FK CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.transportes
    ADD CONSTRAINT fkgihggji7q5da93tv0sa1sko30 FOREIGN KEY (id_agricultor) REFERENCES agricultor.agricultor(id_agricultor);


--
-- Name: transportes fkhl45vyknri2j9s7on0j81uovn; Type: FK CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.transportes
    ADD CONSTRAINT fkhl45vyknri2j9s7on0j81uovn FOREIGN KEY (id_modelo) REFERENCES agricultor.modelo(id_catalogo);


--
-- Name: pesaje fkj2lheaycapewtx2kywgcs190e; Type: FK CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.pesaje
    ADD CONSTRAINT fkj2lheaycapewtx2kywgcs190e FOREIGN KEY (id_agricultor) REFERENCES agricultor.agricultor(id_agricultor);


--
-- Name: transportes fklogvob5j1r2s1m6msit31ldqs; Type: FK CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.transportes
    ADD CONSTRAINT fklogvob5j1r2s1m6msit31ldqs FOREIGN KEY (id_linea) REFERENCES agricultor.linea(id_catalogo);


--
-- Name: transportes fkoef25uwe1f58a201yg091oo8r; Type: FK CONSTRAINT; Schema: agricultor; Owner: postgres
--

ALTER TABLE ONLY agricultor.transportes
    ADD CONSTRAINT fkoef25uwe1f58a201yg091oo8r FOREIGN KEY (id_color) REFERENCES agricultor.color(id_catalogo);


--
-- Name: transito fk4621tfju8pltubtotq3k3x9kg; Type: FK CONSTRAINT; Schema: beneficio; Owner: postgres
--

ALTER TABLE ONLY beneficio.transito
    ADD CONSTRAINT fk4621tfju8pltubtotq3k3x9kg FOREIGN KEY (id_cuenta) REFERENCES beneficio.cuenta(id_cuenta);


--
-- Name: detalle_catalogo fk507xgyl99yye0pot0ngef1hrs; Type: FK CONSTRAINT; Schema: beneficio; Owner: postgres
--

ALTER TABLE ONLY beneficio.detalle_catalogo
    ADD CONSTRAINT fk507xgyl99yye0pot0ngef1hrs FOREIGN KEY (id_catalogo) REFERENCES beneficio.catalogo(id_catalogo);


--
-- Name: historial_cuenta fk_historial_cuenta; Type: FK CONSTRAINT; Schema: beneficio; Owner: postgres
--

ALTER TABLE ONLY beneficio.historial_cuenta
    ADD CONSTRAINT fk_historial_cuenta FOREIGN KEY (id_cuenta) REFERENCES beneficio.cuenta(id_cuenta);


--
-- Name: transito fkavndbfi6ws9k42a2utrvm3s47; Type: FK CONSTRAINT; Schema: beneficio; Owner: postgres
--

ALTER TABLE ONLY beneficio.transito
    ADD CONSTRAINT fkavndbfi6ws9k42a2utrvm3s47 FOREIGN KEY (id_estado_transito) REFERENCES beneficio.detalle_catalogo(id_detalle_catalogo);


--
-- Name: parcialidad_beneficio fkoubx5j3if1am3n9fyuchj6p0n; Type: FK CONSTRAINT; Schema: beneficio; Owner: postgres
--

ALTER TABLE ONLY beneficio.parcialidad_beneficio
    ADD CONSTRAINT fkoubx5j3if1am3n9fyuchj6p0n FOREIGN KEY (id_cuenta) REFERENCES beneficio.cuenta(id_cuenta);


--
-- PostgreSQL database dump complete
--

\unrestrict 3cXBlESTsce1TzzBbQMYQBUxCSzXa6UIxAys4IWC2dsr5NhmtL2htU4nXjtkh3W

